
<p>products works!</p>

<div class="container">
    <div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" routerLink="ios" routerLinkActive="active">ios</li>
            <li class="list-group-item" routerLink="samsung" routerLinkActive="active">samsung</li>
            <li class="list-group-item" routerLink="apple" routerLinkActive="active">apple</li>
            <!-- <li class="list-group-item" routerLink="contact" routerLinkActive="active">Porta ac consectetur ac</li> -->
          </ul>
    </div>
    <div class="col-md-6">
         <router-outlet></router-outlet>
    </div>
</div>
</div>
